.coins-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f4f5f6;
    min-height: 100vh;


    .coins-section {
        padding: 20px;
        padding-bottom: 100px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .currency-selection {
        padding: 10px;
        display: flex;
        gap: 20px;

        label {
            font-weight: 700;
        }
    }
}

.pagination-btns {
    width: 80%;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}