.exchanges-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f4f5f6;
    position: relative;
    min-height: 100vh;
    .exchanges-section{
        padding: 20px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom:100px ;

    }

    .pagination-btns {
        width: 80%;
        padding: 10px;
        position: absolute;
        bottom: 20px;
    }
}