footer{
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;


    .footer-content{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo{
            text-decoration: none;
            cursor: pointer;
            color: white;
            font-family: 'Chakra Petch', sans-serif;
        }
    }

    .footer-section {
        p{
            color: #aaa;
        }
        h3{
            margin-bottom: 10px;
        }
    }


    .footer-bottom{
        color: #727888;
        font-weight: 600;
    }
   
}