.home-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
        object-fit: contain;
        width: 70%;
        max-width: 500px;
        animation: moveBackAndForthY 3s ease-in-out infinite;
        aspect-ratio: 47 / 49; 
    }

    .typeWriterText{
      display: flex;
      text-align: left;
      flex-direction: column;
      gap: 10px;

      h1{
        text-transform: capitalize;
        font-size:40px;
        color: white;

        span{
          color: white;
        }
      }
      
    }

    .footer{
        background-color: red;
    }
}

@keyframes moveBackAndForthY {
    0%, 100% {
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(30px);
    }
  }