.btns {
    max-width:100% ;
    display: flex;
    overflow-x: auto;
    display: flex;
    align-items: center;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        font-family: 'Bricolage Grotesque', sans-serif;
        background-color: rgb(223, 236, 242);
        border: none;
        font-weight: 600;
        padding: 5px 8px;
        margin-inline: 3px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: rgb(198, 215, 224);
        }

        &.page-selected {
            color: white;
            background-color: black;
        }
    }
}